* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #a4a8a8
}

#container{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 10vh 7vh 350px;
    grid-template-areas:
    "header"
    "menu"
    "main";
    grid-gap: 2px;
    justify-content: center;
}

#novarecarga{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 10vh 400px;
    grid-template-areas:
    "header"
    "main";
    grid-gap: 2px;
    justify-content: center;
}

header {
    background-color: #9d9df3;
    padding: 5px 10px ;
    grid-area: header;
}

h1 {
    font-size: 25px;
}

header h1{
    font-size: 37px;
    font-weight: bold;
}

menu{
    padding: 5px 10px;
    background-color: #b0b0d8;
    grid-area: menu;
}

ul{    
    list-style: none;    
}

ul li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background: #fff;
    float: left;
    margin: 0px 3px;
}

ul li a:link {
    color: #0601ff;
    padding:  2px;
    display: block;
    text-decoration: none;
}

ul li a:hover{
    color: #fff;
    background: #0601ff;
}

main{
    grid-area: main;
    background-color: #d0d6d0a2
}

.novarecarga{
    width: auto;
    height: auto;
    background: #fff;
    display: block;
    font-size: 50px;
    float: right;
}
.novarecarga a:link{
    text-decoration: none;
}