* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: #a4a8a8
}

#container {
	display: grid;
	grid-template-columns: 300px;
	grid-template-rows: 10vh 47vh 5vh;
	grid-template-areas:
		"header"
		"main"
		"bottom";
	grid-gap: 2px;
	justify-content: center;
}

header {
	padding: 5px 10px;
	background-color: #9d9df3;
	display: grid;
	align-items: center;
	justify-items: center;
}

label {
	display: block;
}

p label {
	display: inline;
}

h1 {
	font-size: 25px;
}

header h1 {
	font-size: 37px;
	font-weight: bold;
}

bottom {
	display: grid;
	align-content: center;
	justify-content: center;
}

ul {
	list-style: none;
}

ul li {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 15px;
	font-weight: 600;
	background: #fff;
	float: left;
	margin: 3px;
}

ul li a {
	color: #0601ff;
	background: #fff;
	padding: 2px;
	display: block;
	text-decoration: none;
}

ul li a:hover {
	color: #fff;
	background: #0601ff;
}

main {
	grid-area: main;
	background-color: #d0d6d0a2;
	padding: 7px;
}